.home-page {
}

.section-animated {
  /* temporary */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
  min-height: 100vh;
  /* temporary */
}

.section-about-us {
}

.section-about-us_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  padding: 80px;
  margin-left: auto;
  background-color: var(--black);
  color: white;
  min-height: 100vh;
}

@media (max-width: 900px) {
  .section-about-us_content {
    padding: 60px;
  }
}

@media (max-width: 641px) {
  .section-about-us_content {
    width: 100%;
    padding: 60px 20px;
  }
}

.section-about-us_content_title {
  margin: 0 0 15px;
  font-size: 54px;
}

@media (max-width: 900px) {
  .section-about-us_content_title {
    font-size: 42px;
  }
}

@media (max-width: 641px) {
  .section-about-us_content_title {
    font-size: 30px;
  }
}

.section-about-us_content_text {
  /* max-width: 700px; */
  font-size: 18px;
  line-height: 2;
}

@media (max-width: 900px) {
  .section-about-us_content_text {
    font-size: 16px;
  }
}

/* start section image text */
.section-image-text {
  position: relative;
  background: url(../assets/images/scene.png) no-repeat center center;
  background-size: cover;
  background-color: white;
  min-height: 100vh;
}

/* Tablet Horizontal */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .section-image-text {
    background-image: url(../assets/images/scene-tablet-horizontal.png);
  }
}

/* Tablet Vertical */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .section-image-text {
    background-image: url(../assets/images/scene-tablet-vertical.png);
  }
}

/* Mobile Horizontal */
@media (max-width: 767px) and (orientation: landscape) {
  .section-image-text {
    background-image: url(../assets/images/scene-mob-horizontal.png);
  }
}

/* Mobile Vertical */
@media (max-width: 767px) and (orientation: portrait) {
  .section-image-text {
    background-image: url(../assets/images/scene-tablet-vertical.png);
  }
}

.section-image-text_content {
  padding: 150px 50px 100px 100px;
  color: var(--black);
  background: linear-gradient(to right, #ffffffc4 0%, #ffffffb8 50%, #ffffff57 75%, transparent 100%);
  width: 65vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1100px) {
  .section-image-text_content {
    padding: 120px 50px 150px;
  }
}

@media (max-width: 1100px) and (orientation: portrait) {
  .section-image-text_content {
    width: 100%;
    min-height: unset;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #ffffffc4 0%, #ffffffb8 50%, #ffffff57 75%, transparent 100%);
  }
}

@media (max-width: 700px), (max-height: 700px) {
  .section-image-text_content {
    padding: 120px 20px 150px;
  }
}

.section-image-text_content_title {
  font-size: 3.6vw;
  font-weight: 700;
  max-width: 50vw;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.3;
}

@media (max-width: 1100px) {
  .section-image-text_content_title {
    font-size: 36px;
    max-width: 550px;
  }
}

@media (max-width: 700px), (max-height: 700px) {
  .section-image-text_content_title {
    font-size: 28px;
    max-width: 450px;
  }
}

.section-image-text_content_subtitle {
  margin: 0;
  font-weight: 700;
  margin-top: 10px;
  font-size: 2.2vw;
}

@media (max-width: 1100px) {
  .section-image-text_content_subtitle {
    font-size: 24px;
  }
}

@media (max-width: 700px), (max-height: 700px) {
  .section-image-text_content_subtitle {
    font-size: 22px;
  }
}

.section-image-text_content_text {
  line-height: 1.5;
  margin-top: 50px;
  font-size: 1.3vw;
  color: rgb(54, 54, 54);
}

@media (max-width: 1100px) {
  .section-image-text_content_text {
    margin-top: 30px;
    font-size: 18px;
  }
}

@media (max-width: 700px), (max-height: 700px) {
  .section-image-text_content_text {
    margin-top: 20px;
    font-size: 16px;
  }
}

.section-image-text_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end section image text */

.section-products {
  min-height: 100vh;
  /* padding-left: calc(16.6% + 26px + 45px); */
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-products_title {
  font-size: 54px;
  text-align: left;
  width: 100%;
  color: white;
  padding-left: calc(16.6% + 26px + 45px);
  margin-top: 0;
}

@media (max-width: 900px) {
  .section-products_title {
    font-size: 42px;
    padding-left: 20px;
  }
}

@media (max-width: 450px) {
  .section-products_title {
    font-size: 30px;
  }
}